<div class="container">
  <mat-grid-list cols="4" rowHeight="4:3">
    <div *ngFor="let data of subjects">
      <mat-grid-tile>
        <div class="category m-2" >
          <div class="job">
            <span class="colors1 mb-4">{{data.title}}</span>
            <h5><a [routerLink]="['/exercise/'+data.id]" >
              <div [innerHTML]="data?.content.substring(0, 220)"></div>
            </a></h5>

            <div class="d-flex align-items-center justify-content-between">
              <div class="left">
                <p>{{data.userNavigation.fullName}}</p>
              </div>
              <span class="time">{{data.createAt|date:"medium"}}</span>
            </div>
          </div>
        </div></mat-grid-tile
      >
    </div>
  </mat-grid-list>
</div>
