<div class="container">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
    <div class="col" *ngFor="let data of teams">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 border radius-15">
            <img
              src="https://banner2.cleanpng.com/20180713/ics/kisspng-homeschooling-student-logo-classroom-celebrate-christmas-5b493406c17a45.4083098515315241027925.jpg"
              width="110"
              height="110"
              class="rounded-circle shadow"
              alt=""
            />
            <h5 class="mb-0 mt-5">{{ data.name }}</h5>
            <p class="mb-3">
              Môn {{ data.mapTeacherSubjectTeams[0].subjectNavigation.name }}
            </p>
            <div class="d-grid">
              <a
                [routerLink]="[
                  '/score-list/' +
                    data.mapTeacherSubjectTeams[0].subjectId +
                    '/' +
                    data.id
                ]"
                class="btn btn-outline-primary radius-15"
                >Truy cập</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
