<div class="container bootdey ml-5">
  <div class="mini-spacer">
    <div
      class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
    >
      <a routerLink="" class="link">{{ homeworks?.userFullName }}</a>
      <div class="ml-auto">
        <a routerLink="" class="link">{{ homeworks?.createAt }} </a>
      </div>
    </div>
    <h2 class="title font-light">
      {{ homeworks?.title }}
    </h2>
    <p class="content" [innerHTML]="homeworks?.content"></p>
    <mat-list-item *ngFor="let file of homeworks?.sources">
      <a href="{{ file }}" target="_blank">{{ file.split("\\").at(-1) }}</a>
    </mat-list-item>
  </div>
</div>

<app-exercise [Id]="id"></app-exercise>
