<div
  [ngStyle]="{
    'background-image': 'url(assets/user/images/landingpage/banner-bg.jpg)'
  }"
  class="static-slider-head"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Trường THPT Lý Tự Trọng Thạch Hà - Hà Tĩnh</h1>
        <h5 class="subtitle op-5">Tuổi trẻ là tương lai đất nước</h5>

        <!-- <a
          href="https://www.wrappixel.com/free-wrapkit-angular-blog"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="blank"
          >Download Free</a
        > -->
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center">
      <h2 class="title">Bài viết gần đây</h2>
    </div>
    <!-- Column -->
  </div>

  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div
      class="col-md-8 no-trans border-bottom mb-4"
      *ngFor="let bl of newsfeeds"
    >
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans">
            <span class="text-dark font-medium">{{
              bl.createAt | date: "medium"
            }}</span>
            <h6 class="card-subtitle font-12 mt-1"> </h6>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">
              {{ bl.title.substring(0, 40) }} ...
            </h5>
            <div [innerHTML]="bl?.content.substring(0, 220)"></div>
            <!-- <p class="m-t-20">{{ bl.content.substring(0, 220) }} ...</p> -->
          </div>
          <div class="col-md-3 no-trans">
            <a
              class="linking font-medium text-themecolor m-t-10 cursor-pointer"
            >
              <span (click)="viewDetail(bl.id)">Xem chi tiết</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
