<form (ngSubmit)="onSubmit()" [formGroup]="formHomework">
  <h1>Đăng bài</h1>

  <div>
    <label for="name">Tiêu đề</label>
    <input
      name="name"
      id="name"
      type="text"
      class="form-control"
      formControlName="title"
      [(ngModel)]="model.title"
      placeholder="Nhập tiêu đề"
    />
  </div>

  <label for="description">Nội dung</label>
  <ckeditor
    [editor]="Editor"
    formControlName="content"
    [(ngModel)]="model.content"
    id="description"
    name="description"
    type="divarea"
  >
  </ckeditor>

  <!-- Upload -->

  <input
    (change)="onFileSelected($event)"
    type="file"
    multiple
    formControlName="file"
    id="myFile"
    name="filename"
  />

  <button type="submit">Submit</button>
</form>
<div class="file-upload">
  {{ fileName || "No file uploaded yet." }}
</div>
