<div
  class="banner-innerpage"
  style="
    background-image: url(assets/user/images/landingpage/banner-bg2.jpg);
    max-height: 10px;
  "
></div>

<div class="container">
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
    <div class="col" *ngFor="let data of homeworks">
      <div class="card radius-15">
        <div class="card-body text-center">
          <div class="p-4 border radius-15">
            <img
              src="https://png.pngtree.com/png-clipart/20190904/original/pngtree-three-books-hand-drawn-illustration-png-image_4501557.jpg"
              width="110"
              height="110"
              class="rounded-circle shadow"
              alt=""
            />
            <h5 class="mb-0 mt-5">{{ data.title }}</h5>
            <p class="mb-3" [innerHTML]="data?.content.substring(0, 15)"></p>
            <div class="d-grid">
              <a
                [routerLink]="['/user/homework/details/' + data.id]"
                class="btn btn-outline-primary radius-15"
                >Truy cập</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
